@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 18px;
  --colorGreen: #00a448;
  --colorBlue: #0d468f;
  --colorRed: #e73233; 
  --colorYellow: #f69f21;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 300px 300px;
}
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.box {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 200px;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
}
h4 {
  margin: 2rem auto 1rem;
}
button, a {
  padding: 1em 2em;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin-top: .5rem;
}
.bg--dark {
  background-color: #2c3e50;
  color: #fff;
}

/* Hover adds text to Button */
/* [data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  content: attr(data-tooltip);
} */

/* Hover effect expanding from Point of touch */
.btn--expanding {
  position: relative;
  display: inline-flex;
  border-radius: 6px;
  color: #fff;
  background-color: var(--colorGreen);
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
}
.btn--expanding span {
  position: relative;
  z-index: 1;
}
.btn--expanding::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--colorBlue);
  transition: width 0.5s, height 0.5s;

}
.btn--expanding:hover::before {
  width: 300px;
  height: 300px;
}