@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* get rid of scroll bars */
  overflow: hidden;
  margin: 0;
  line-height: 1.5;
  /* --- */
  font-family: 'Nunito', sans-serif;
  /* center everything */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

h1, h2, h3 {
  line-height: 1.1;
}

.container {
  background-color: #fff;
  text-align: center;
  width: 30%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, #0004);
  padding: 2rem 1rem;
  border-top: red solid 2rem;
  border-bottom: red solid 1.5rem;
}

.author {
  text-align: right;
  margin-top: 1rem;
}