@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* get rid of scroll bars */
  overflow: hidden;
  margin: 0;
  line-height: 1.5;
  /* --- */
  font-family: "Nunito", sans-serif;
  /* center everything */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #000;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

.intro {
  background-color: #fff;
  text-align: center;
  padding: 1.5rem;
  width: 200px;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.btn {
  padding: 0.6em 1.1em;
  margin-top: 1rem;
  border: none;
  outline: none;
  color: #000;
  background-color: #ddd;
  border-top: 4px solid #e3e3e3;
  border-bottom: 4px solid #e3e3e3;
  letter-spacing: 1px;
  border-radius: 1px;
  /* box-shadow: 5px 5px 20px -5px; */
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.btn:hover {
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  /* make a strip of color drift up from bottom to top */
  /* box-shadow: 5px 5px 20px -10px; */
}

.container {
  width: 300px;
  min-height: 300px;
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent, #0004);
  position: relative;
  overflow: hidden;
}
.content {
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 2rem 1rem;
  border-top: red solid 2rem;
  border-bottom: red solid 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 1s ease-in-out;
}
.container:hover .content {
  transform: translateY(0);
}

.author {
  text-align: right;
  margin-top: 1rem;
}
