* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
header {
  min-height: 100px;
}
footer {
  min-height: 300px;
}
section {
  padding: 3rem;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
}
section ~ section {
  margin-top: 5rem;
}
code {
  font-size: .9rem;
  background-color: #ddd;
  padding: 1px;
}
.section-headline {
  margin-bottom: 3rem;
  text-align: center;
}
.subtitle {
  margin: -2rem 0 2rem;
  text-align: center;
}
.description {
  margin-top: 3rem;
  max-width: 400px;
  line-height: 1.5;
}
section .form-group {
  margin: 0 auto;
}
.form-group + .form-group {
  margin-top: 3rem;
}
.form-group {
  position: relative;
  width: 250px;
  height: 50px;
}

/* Animated Placeholder */
.animated-placeholder .form__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 18px;
  opacity: 0.6;
  transform-origin: 0 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.animated-placeholder .form__input {
  box-shadow: none;
  background-color: rgba(0, 0, 125, 0.03);
  border-style: none none outset none;
  border-color: lightgray;
  border-radius: 0px;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 18px;
  z-index: 2;
}
.animated-placeholder .form__input::placeholder {
  color: transparent;
}
.animated-placeholder .form__input:focus + .form__label,
.animated-placeholder .form__input:not(:placeholder-shown) + .form__label {
  transform: translateX(-12px) translateY(-37px) scale(0.9);
}

/* accent-color */
.accent-color {
  accent-color: darkorange;
}
.accent-color input[value="unimpressed"] {
  accent-color: initial;
}


/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */