@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  /* --- */
  font-family: "Roboto", sans-serif;
  /* center everything */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1, h2, h3 {
  line-height: 1.1;
}
header {
  min-height: 100px;
}
footer {
  min-height: 300px;
}
section {
  padding: 3rem;
  max-width: 90vw;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
}
section ~ section {
  margin-top: 5rem;
}
section h2 {
  margin-bottom: 3rem;
}
.description {
  margin-top: 3rem;
  max-width: 400px;
  line-height: 1.5;
}
section.bbm .container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
section.bbm .container div {
  background-image: url(images/hiking.jpeg);
  background-position: center;
  background-size: cover;
  background-color: yellowgreen;
  height: 300px;
  width: 200px;
}
.bbm1 {
  background-blend-mode: screen;
}
.bbm2 {
  background-blend-mode: multiply;
}
.bbm3 {
  background-blend-mode: overlay;
}
.bbm4 {
  background-blend-mode: hue;
}
.bbm5 {
  background-blend-mode: lighten;
}
.bbm6 {
  background-blend-mode: luminosity;
}
.bbm7 {
  background-blend-mode: soft-light;
}
.bbm8 {
  background-blend-mode: color-dodge;
}
.bbm9 {
  background-blend-mode: color-burn;
}
.bbm10 {
  background-blend-mode: color;
}

/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */