:root {
  --boxColor: #0ff7;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // to control all sizes - using em as a variable
  font-size: 75px;
}

.scene {
  position: relative;
}

.ball {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: lightblue;
}

.cube {
  width: 2em;
  height: 2em;
  background-color: var(--boxColor);
}

.floor {
  width: 5em;
  height: 5em;
  background-image: repeating-conic-gradient(from 45deg, #111 0deg 90deg, #222 90deg 180deg);
  background-size: 1em 1em;
}