/* * {
  margin: 0;
  padding: 0;
} */


:root {
  font-size: 18px;
  --colorGreen: #00a448;
  --colorBlue: #0d468f;
  --colorRed: #e73233; 
  --colorYellow: #f69f21;
}
body {
  padding: 2rem;
}
.bg--dark {
  color: #fff;
  background-color: #2c3e50;
}

footer {
  padding: 3rem;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 300px 300px;
}
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.box {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  min-height: 300px;
  border-radius: 6px;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
}
h4 {
  margin: 2rem auto 1rem;
}
button {
  padding: 1rem 2rem;
  font-size: 16px;
}
.seeCodeHere {
  margin: auto 0 1.5rem;
  line-height: 1.4;
}

/* Typing Effect */
.typingEffect {
  margin-top: 3rem;
  font-size: 30px;
  font-family: monospace;
  overflow: hidden;
  white-space: nowrap;
  width: 13ch;
  border-right: 3px solid;
  animation: typingEffect 2s steps(13), blinkingCursor .5s step-end infinite alternate;
}

@keyframes typingEffect {
  from {width: 0;}
}
@keyframes blinkingCursor {
  50% {border-color: transparent;}
}

/* Conic Gradient */
.conicGradient {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  background: conic-gradient(#f69f21, #00a448);
}
.conicGradient:hover {
  background: conic-gradient(#f69f21, #e73233, #0d468f, #00a448);
}

/* Pie Chart with Conic Gradient */
.conicGradientPieChart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* After color: one value where the color should start and one where it should end. At beginning and end one value is enough - beginning (0turn) and end (1turn) are assumed. */
  background: conic-gradient(#00a448 .2turn, #0d468f .2turn .55turn, #e73233 .55turn .75turn, #f69f21 .75turn);
}
.conicGradientPieChart:hover {
  background: conic-gradient(#00a448 .35turn, #0d468f .35turn .5turn, #e73233 .5turn .65turn, #f69f21 .65turn);
}

/* Resize */
.box.resize {
  /* magic here */
  resize: both;
  /* overflow must be 'auto', 'hidden' or 'scroll' but NOT 'visible' */
  overflow: hidden;
  background-color: #fff;
  height: 300px;
  box-sizing: border-box;
  text-align: center;
}
.box.resize p,
.box.resize span {
  padding: 0 1.5rem;
}

/* Filter: hue-rotate */
.filter.hue-rotate {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  background-color:#ff0;
}
.filter.hue-rotate:hover {
  animation: hueRotate 5s infinite;
}
@keyframes hueRotate {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

/* Flip Animation */
.box.flipAnimation {
  justify-content: center;
}
.box.flipAnimation .text {
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
}
.box.flipAnimation .rectangle {
  width: 200px;
  height: 80px;
  background-color: #f69f21;
  margin-top: 40px;
}

/* * { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue } */