:root {
  --base: #008080;
  --dark: #002425;
  --attention: #ff8749;
  --attention-light: rgb(255, 135, 73, 0.2);
  --warning: #8b1c00;
  --box-shadow: 6px 12px 24px rgba(0, 0, 0, 0.2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--base);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #fff;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  margin-top: auto;
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
}
a {
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove underline by default */
}
.highlight {
  color: var(--attention)
}

canvas {
  background-color: #fff;
  border: 1px solid #000;
  margin: auto;
}

.button {
  cursor: pointer;
  padding: .25em 1.25em;
  border-radius: 6rem;
  border: #000 2px solid;
}
.button:hover {
  box-shadow: var(--box-shadow);
  scale: 1.005;
}
.contains-icon {
  display: flex;
  align-items: center;
}

.icon {
  width: 1em; /* Set the width to match the size of adjacent text */
  height: 1em; /* Set the height to match the size of adjacent text */
  margin-right: 0.5em; /* Optional: Add some spacing between the icon and text */
  font-size: 1em; /* Set the font size to match the size of the icon */
}

img svg {
  stroke: currentColor;
}

.button-container {
  display: flex;
  gap: 5rem;
  margin: 1.5rem 0;
}

.pen-tools {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 60%;
  margin: auto;
}


.pen-size {
  display: flex;
  flex-direction: column;
  text-align: center;

  margin-bottom: 5px;
}

.board {
  width: 800px;
  margin: auto;
}

.drawing-colors {
  display: flex;
  margin-bottom: 10px;
}

.color-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 0.5rem;
  border: 1px solid #000;
  cursor: pointer;
}

.color-circle:nth-child(1) {
  background-color: black;
}
.color-circle:nth-child(2) {
  background-color: green;
}
.color-circle:nth-child(3) {
  background-color: blue;
}
.color-circle:nth-child(4) {
  background-color: yellow;
}
.color-circle:nth-child(5) {
  background-color: orange;
}
.color-circle:nth-child(6) {
  background-color: grey;
}
.color-circle:nth-child(7) {
  background-color: salmon;
}
.active {
  transform: scale(1.3);
}

/* * {
  outline: 2px dotted red;
}
* * {
  outline: 2px dotted green;
}
* * * {
  outline: 2px dotted orange;
}
* * * * {
  outline: 2px dotted blue;
}
* * * * * {
  outline: 1px solid red;
}
* * * * * * {
  outline: 1px solid green;
}
* * * * * * * {
  outline: 1px solid orange;
}
* * * * * * * * {
  outline: 1px solid blue;
} */
