/* * {
  margin: 0;
  padding: 0;
} */
:root {
  font-size: 18px;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 300px 300px;
}
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.box {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  min-height: 250px;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
}
h4 {
  margin: 2rem auto 1rem;
}
button {
  padding: 1rem 2rem;
  font-size: 16px;
}

/* HTML Only Accordion */
.accordion ~ p {
  margin: auto 0 1.5rem;
}