/* * {
  margin: 0;
  padding: 0;
} */


:root {
  font-size: 18px;
  --colorGreen: #00a448;
  --colorBlue: #0d468f;
  --colorRed: #e73233; 
  --colorYellow: #f69f21;
}
body {
  padding: 2rem;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 300px 300px;
}
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.box {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  min-height: 300px;
  border-radius: 6px;
  box-shadow: 4px 8px 16px rgba(0,0,0,0.1);
}
h4 {
  margin: 2rem auto 1rem;
}
button {
  padding: 1rem 2rem;
  font-size: 16px;
}
.seeCodeHere {
  margin: auto 0 1.5rem;
}

/* Conic Gradient */
.conicGradient {
  width: 150px;
  height: 150px;
  background: conic-gradient(#0d468f, #f69f21);
}

.conicGradientPieChart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#00a448 .2turn, #0d468f .2turn .55turn, #e73233 .55turn .75turn, #f69f21 .75turn);
}